@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sticky {
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: #1B242F;
    z-index: 5;
}

.link-wrapper {
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    text-align: left;
    justify-content: start;
}

.page-link {
    margin: 0 20px;
}

.page-link a {
    color: white;
    text-decoration: none;
    transition: color 0.8s;
}

.page-link a:hover {
    cursor: pointer;
    color: #12f7e2;
}

section#home .container {
    background-image: url("/resources/image/home-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

section#home h1 {
    text-align: center;
    font-size: 32px;
    color: white;
}

span.highlight {
    color: #12f7e2;
}

section#home {
    width: 100%;
}

.container {
    min-height: 560px;
    width: 100%;
}

button {
    font-size: 22px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: white 2px solid;
    transition: background-color 0.8s;
}

    

section#home button:hover {
    cursor: pointer;
    background-color: #e31b6d;
    border: solid 2px #e31b6d ;
}

h2 {
    text-align: center;
    font-size: 40px;
}

section#about {
    padding: 50px 250px
}

a.text-link {
    text-decoration: none;
    color: #009ada;
}

div.image {
    margin-right: 30px;
}

img#profile-photo {
    width: 180px;
    border-radius: 100%;
}

.profile {
    flex-direction: row;
}

.profile-intro {
    font-size: 23px;
    color: #616161;
}

.stack-items {
    flex-direction: row;
    margin-bottom: 10px;
}

.stack {
    padding: 30px 50px;
    text-align: left;
    font-size: 18px;
    align-items: flex-start;
}

.stack-items .category {
    min-width: 100px;
}

section#projects {
    padding: 50px 80px;
    background-color: #F5F5F5;
}

span.skill-title {
    margin-bottom: 10px;
    font-size: 26px;
    color: #616161;
    font-weight: bold;
}

.cards {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    min-height: 400px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.overray {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 2;
}

.overray a {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
}

.overray a:hover {
    font-size: 20px;
}

.card-container {
    padding: 2px 16px;
    min-height: 200px;
}

.card-container h4 {
    font-size: 23px;
    color: #616161;
}

.card img {
    width: 100%;
}

.card-desc {
    height: 50px;
}

p.tech-stack {
    padding-top: 20px;
    color: #e31b6d;
}

section#contact {
    background-color: #252934;
    padding: 50px 250px 0px 250px;
}

section#contact h2 {
    color: white;
    margin: 0 0 33.2px 0;
}

.contact-items {
    margin-top: 50px;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.contact-item a{
    color: white;
    transition: 0.8s;
}

.contact-item i {
    margin-right: 40px;
    transition: color 0.8s;
}

.contact-item i:hover,  .contact-item a:hover{
    color: #e31b6d;
}

.fa-github-square, .fa-linkedin {
    color: white;
}

div.contact-item {
    padding: 10px 100px;
}

footer {
    background-color: #1B242F;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-credit {
    width: 100%;
    max-width: 200px;
}

span.footer-author-name {
    color: #8F9AA7;
    margin-right: 5px;
}

span.footer-year {
    color: #12f7e2;
}

.fa-angle-double-up {
    position: absolute;
    top: -35px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    color: white;
    background-color: #12f7e2;
    padding: 5px;
}

.fa-angle-double-up:hover {
    cursor: pointer;
}

